/* tags */
.multipleInput-container {
    border:1px #ccc solid;
    padding:1px;
    padding-bottom:0;
    cursor:text;
    font-size:13px;
    width:100%;
}

.multipleInput-container input {
    font-size:13px;
    clear:both;
    display: block;
    width:auto;
    height:24px;
    border:0;
    margin-bottom:1px;
}

.multipleInput-container ul {
    list-style-type:none;
}

li.multipleInput-item {
    float:left;
    margin-right:2px;
    margin-bottom:1px;
    border:1px #BBD8FB solid;
    padding:2px;
    background:#F3F7FD;
}

.multipleInput-close {
    width:2px;
    height:16px;
    display:block;
    float:right;
    margin:0 12px 0 3px;
    color:#ff0000 !important;
    padding: 0 3px !important;
}
.multipleInput-close:after {
    content: 'x';
}
/* tags */